@import "../../base";

.goHomeButton{
  background-color: $second-color;
  border-radius: $default-border-radius;
  border: none;
  font-size: 10px;
  font-family: $font-family;
  padding: 3px 6px;
  width: 24%;
  position:relative;
  margin-bottom:12%;
  a,
  a:visited
  {
    text-decoration: none;
    color: black;
  }
}