@import '../../../base';

body{
  font-family: $font-family;
  margin: unset;
  width: 100vw;
  height: 100vh;
}

.plantsList{
  margin-bottom: 4rem;
}

.plantListElement{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 96%;
  margin: 14px auto;
  padding: 4px 0;
  position: relative;
}

@media(min-width: 40rem){
  .plantListElement{
    width: 37%;
    align-items: inherit;
  }
}
