@import '../../base';

.addNewPlantButton{
  background-color: $second-color;
  font-family: $font-family;
  font-size: 13px;
  border-radius: $default-border-radius;
  border: none;
  margin: 1rem auto 0.5rem auto;
  width: 55%;
  a,
  a:visited{
    text-decoration: none;
    color: black;
  }
}

@media(min-width: 40rem){
  .addNewPlantButton{
    width: 30%;
    margin: 1rem 13rem;
  }
}