@import '../../../base';

body{
  font-family: $font-family;
  margin: unset;
  width: 100vw;
  height: 100vh;
}

.plantListElement{
  display: flex;
  justify-content: space-around;
  width: 96%;
  margin: 8px auto;
  padding: 4px 0;
  position: relative;
}

.plantPhoto__container{
  width: 5rem;
  height: 5rem;
  background-color: pink;
}

.plantPhoto{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.plantDescription{
  display: flex;
  font-size: 10px;
  text-align: left;
  background-color: $main-color;
  padding: 8px 10px 20px 2px;
  border-radius: 2* $default-border-radius;
  .plantDescription__column{
    margin: 0 10px;
  }
  .column-first {
    color: #B9B5B5;
  }
  p {
    margin: 0;
  }
}

.moreInfoButton{
  position: absolute;
  right: 19px;
  top: 95px;
  background-color: $second-color;
  font-size: 8px;
  border-radius: $default-border-radius;
  border: none;
}

.plantButtons-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 8px;

  .plantButton {
    background-color: white;
    border: none;
    padding: 0;
  }
}

.plantButton img{
  width: 1rem;
  height: 1rem;
  opacity: 0.7;
}