@import '../../../base';

body{
  font-family: $font-family;
  margin: unset;
  width: 100vw;
  height: 100vh;
}

.plantListElement{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 96%;
  margin: 14px auto;
  padding: 4px 0;
  position: relative;
}

.plantPhoto__container{
  width: 5rem;
  height: 5rem;
}

.plantPhoto{
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.plantDescription{
  display: flex;
  font-size: 10px;
  text-align: left;
  background-color: $main-color;
  padding: 8px 10px 20px 2px;
  border-radius: 2* $default-border-radius;
  min-width: 57%;
  .plantDescription__column{
    margin: 0 10px;
  }
  .column-first {
    color: #B9B5B5;
   margin: 0 0 0 10px;
  }
  p {
    margin: 0;
  }
}

.moreInfoButton{
  position: absolute;
  font-family: $font-family;
  right: 7%;
  top: 83%;
  background-color: $second-color;
  font-size: 7px;
  border-radius: $default-border-radius;
  border: none;
  a{
    text-decoration: none;
  }
}

.plantButtons-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 8px;

  .plantButton {
    background-color: white;
    border: none;
    padding: 0;
  }
}

.plantButton img{
  width: 1rem;
  height: 1rem;
  opacity: 0.7;
}

@media(min-width: 370px) {
  .plantDescription{
    padding: 2px 35px 20px 2px;
  }
  .plantDescription__column {
    padding: 8px 16px 2px 1px;
  }
}