@import '../../base';

.plantShortDescription{
  display: flex;
  font-size: 10px;
  text-align: left;
  background-color: $main-color;
  padding: 8px 10px 20px 2px;
  border-radius: 2* $default-border-radius;
  min-width: 57%;
  .plantShortDescription__column{
    margin: 0 10px;
  }
  .column-first {
    color: #B9B5B5;
    margin: 0 19px 0 10px;
  }
  p {
    margin: 0;
  }
}

@media(min-width: 370px) {
  .plantShortDescription{
    padding: 2px 21px 20px 2px;
  }
  .plantShortDescription__column {
    padding: 8px 16px 2px 1px;
  }
}