@import '../../base';

.plantFullDescription{
  background-color: $main-color;
  border-radius: 2* $default-border-radius;
  margin: 1.5rem auto;
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonsContainer{
  margin: 1rem 4px;
}

.cancelButton,
.saveButton,
.editButton {
  position: absolute;
  bottom: 2%;
  opacity: 0.6;
  border: none;
  background-color: transparent;
  padding: 1px 8px;

  img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.cancelButton,
.deleteButton{
  right: 2%;
}

.editButton,
.saveButton{
  right: 12%;
}

@media(min-width: 40rem){
  .plantFullDescription{
    max-width: 70%;
    margin-bottom: 2rem;
  }
}