@import '../base';

.footer{
  background-color: $third-color;
  opacity: $default-opacity;
  font-size: 11px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  p{
    margin: 0;
    text-align: left;
    padding: 1px 0 2px 4px;
    color: #9C9C9C;
  }
}